body {
  background-color: #808080;
  font-family: Raleway;
  font-family: 'Lora', serif;
}

#navbar {
  overflow: hidden;
}

nav.row {
  background-color: #9e9e9e;
}

nav {
  align-content: center;

  background-color: #9e9e9e;
  text-align: right;
}

#profile-pic {
  height: 300px;
  width: 300px;
  border-radius: 50%;
}


blog.img {
  width: 150px;
  height: 150px;
  border-radius: 40px;
}

/* .flex-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
} */


span {
  color: teal;
}

/* teal color: #26a69a */



.flex-container {
  flex-wrap: wrap;
}


.about {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

ul {
  color: #808080;
}

nav a {
  font-weight: 200;
  color: white;
  margin: 3px;
  padding: 5px;
  text-decoration: none;
}

nav a:hover {
  background-color: #fc766a;
  border-bottom: 2px solid white;
  border-radius: 10px;
}

h1 {
  color: #fc766a;
  font-family: Raleway;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h2 {
  font-style: 'Droid', serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  color: white;
  text-align: center;
}

p {
  font-style: 'Droid', serif;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}

.name {
  color: #fc766a;
  font-weight: 600;
}


.main-slider {
  width: 100%;
  height: 50%;
}

.testimonial {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  background-color: #26a69a;
  border-radius: 1em;
  box-shadow: 2px;
}

p {
  font-family: Raleway;
  color: #fff;
}

footer p {
  font-family: Raleway;
  color: #fff;
}

footer a {
  text-decoration: none;
}

p.copyright {
  font-size: 16px;
  font-family: Raleway;

}

p.message {
  font-family: Raleway;
  font-size: 16px;
}

/* 
Sticky code for scrolling function in js-Media queries*/
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}