/* * {
  border: 2px solid white;
} */

body {
  background-color: #808080;
}

/* 
.flex-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

a {
  margin: 4px 4px;
  padding: 2px 4px;
  text-align: center;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
}

.column {
  display: flex;
} */

span {
  color: teal;
}


nav {
  align-content: center;
  font-family: Raleway;
  background-color: #808080;
  text-align: right;
}

.flex-container {
  flex-wrap: wrap;
}

.about {
  width: 100%;

}

.about img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 3em;
  /* border-bottom-right-radius: 5em;
  border-top-left-radius: 5em;
  border-bottom-left-radius: 3em;
  border-top-right-radius: 3em; */
  border-radius: 3em;
}

ul {
  color: #808080;
}

nav a {
  font-weight: 200;
  color: white;
  margin: 3px;
  padding: 5px;
  text-decoration: none;
}

nav a:hover {
  background-color: #fc766a;
  border-bottom: 2px solid white;
  border-radius: 10px;
}

h1 {
  color: #fc766a;
  font-family: Raleway;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h2 {
  font-style: 'Droid', serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  color: white;
  text-align: center;
}

p {
  font-style: 'Droid', serif;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}

.name {
  color: #fc766a;
  font-weight: 600;
}


.main-slider {
  width: 100%;
  height: 50%;
}

.testimonial {
  display: flex;
  flex-direction: row;

  align-content: space-between;
  background-color: #26a69a;
  border-radius: 1em;
  box-shadow: 2px;
}

/* 
footer {

  width: 1000px;
  margin: 35px auto;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  font-size: 5px;
  letter-spacing: .08em;
  font-weight: 300;
} */

p {
  font-family: Raleway;
  color: #fff;
}

footer a {
  text-decoration: none;
}

.copyright {
  font-family: Raleway;
  float: left;
}

.message {
  font-family: Raleway;
  float: right;
}

footer a:hover {
  border-bottom: 2px solid white;
  border-radius: 10px;
}