body {
  background-color: #808080;
  margin: 10px;
}
main{
  width: 850px;
  margin:35px auto;
  max-height: auto;
}
nav {
  align-content: center;
  font-family: Raleway;
  text-align: right;
}
.flex-container {
  flex-wrap: wrap;
}
ul {
color: #808080;
}
nav a {
  font-weight: 200;
  color: white;
  margin: 3px;
  padding: 5px;
  text-decoration: none;
}
nav a:hover {
  background-color: #fc766a;
  border-bottom: 2px solid white;
  border-radius: 10px;
  }
h1 {
  color: #fc766a;
  font-family: Raleway;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}
h2 {
   font-style: 'Droid', serif;
   font-size: 20px;
   font-weight: 600;
   letter-spacing: 1px;
}
p {
  font-style: 'Droid', serif;
  font-size: 18px;
  line-height: 26px;
}
.name {
 color:#F15B31;
  font-weight:600;
}
footer{
  width: 1000px;
  margin:35px auto;
  padding-left:20px;
  padding-right:20px;
  color:white;
  font-size:5px;
  letter-spacing:.08em;
  font-weight:300;
}
footer p {
  font-family:Raleway;
}
footer a {
  text-decoration: none;
}
.copyright{
  font-family: Raleway;
  float: left;
}
.message{
  font-family: Raleway;
  float: right;
}
.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}
footer a:hover {
  border-bottom: 2px solid white;
  border-radius: 10px;
  }
@media screen (min-width=600px) {
}
